@media (max-width: 991px) {
    .promo {
        padding: 21px 20px 0 20px;
    }

    .benefits {
        padding: 73px 0 40px 0;

        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__definite {
            width: 50%;
            margin-top: 40px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    .consultation {
        padding: 50px 20px 0 20px;
        &__descr {
            font-size: 18px;
        }
    }
    
    .title {
        font-size: 30px;
        line-height: 44px;
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }

    .promo {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }
    }

    .consultation {
        &__descr {
            font-size: 16px;
        }
    }
    
    .title {
        font-size: 24px;
        line-height: 40px;
    }

    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        justify-content: center;
        &__logo {
            margin: 0;
            display: block;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }

        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
    }

    .promo {
        padding: 21px 0 40px 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }

        &__header {
            font-size: 35px;
            text-align: center;
        }
    
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
    
        &__icons {
            margin: 60px 20px 0 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__icon {
            margin-top: 40px;
            &:nth-child(1) {
                margin: 0;
            }
        }
    }

    .button {
        &_main {
            width: 250px;
            height: 54px;
            margin-top: 65px;

            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .benefits {
        padding: 73px 20px 40px 20px;

        &__definite {
            width: 80%;
            margin-top: 40px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    .consultation {
        min-height: 600px;
        padding: 50px 20px 0 20px;
        &__descr {
            font-size: 14px;
            text-align: center;
        }
    }
    
    .title {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .feed-form {
        margin: 30px auto;
        width: 100%;
        max-width: 300px;
    }

    .slider {
        .swiper-button-prev {
            display: none;
        }
        .swiper-button-next {
            display: none;
        }
    }
}