* {
    font-family: 'MuseoSansCyrl', sans-serif;
    box-sizing: border-box;
}

@import 'blocks/slider';
@import 'base/_variables';
@import 'blocks/_promo';
@import 'base/_mixins';
@import 'blocks/header';
@import 'blocks/_button';
@import 'blocks/benefits';
@import 'base/media';
@import 'blocks/consult';
@import 'blocks/forms';
@import 'blocks/catalog';

@import 'base/_media';

.container {
    max-width: 950px;
    margin: 0 auto;
}