.slider {
    padding: 152px 0 180px 0;

    img {
        display: block;
        margin: 0 auto;
        max-width: 750px;
        width: 80%;
    }
}

.swiper-button-prev {
    color: red;
    width: 30px;
    height: 50px;
}

.swiper-button-next {
    color: red;
    width: 30px;
    height: 50px;
}